- set_meta_tags title: "Independent Comic Books, Fashion and Lifestyle", description: "Hey we are AIK and LEE, we draw comic books and design clothes. Browse through our works and our blog, buy something if you like it!"

.container
  .row
    .col-xs-12.hidden-xs
      .divide
    .col-xs-12.col-sm-12.col-md-4.index-copy
      .text-card
        %p
          Hey #{link_to "we are AIK and LEE", about_path} from l'oca pigra, we draw #{link_to "comic books", comics_path}. We print and publish them ourselves, if you like what you see you can buy copies on our #{link_to "shop", shop_path}.
        %p
          We will also be designing, producing and selling fashion items on our shop very soon. Make sure to follow us on social media for updates! Here are the links to our #{link_to "tumblr", "http://locapigra.tumblr.com/", target: "_blank"}, #{link_to "facebook", "https://www.facebook.com/locapigra/", target: "_blank"} and #{link_to "instagram", "https://www.instagram.com/locapigra/", target: "_blank"} pages.
    .col-xs-12.col-sm-12.col-md-2.index-social
      .row
        .col-xs-4.col-sm-12
          %a.blood{:href => "https://www.facebook.com/locapigra/", target: "_blank"}
            %i.icon-facebook
        .col-xs-4.col-sm-12
          %a.blood{:href => "https://www.instagram.com/locapigra/", target: "_blank"}
            %i.icon-instagram
        .col-xs-4.col-sm-12
          %a.blood{:href => "https://locapigra.tumblr.com/", target: "_blank"}
            %i.icon-tumblr
    .col-xs-12.col-sm-6.col-md-6.index-posts
      - if @posts != nil
        -@posts.each do |post|
          .post
            - if post.photos
              - post.photos.each do |photo|
                = link_to (image_tag photo.alt_sizes.first.url, class: "img-responsive text-center"), post.post_url, target: "_blank"
              = post.caption.html_safe
            - if post.body
              = post.body.html_safe
            - if post.tags
              %ul.list-inline
                - post.tags.each do |tag|
                  %li.text-muted
                    %a{href: "https://locapigra.tumblr.com/tagged/#{tag}", target: "_blank"}
                      \##{tag}

        %a= link_to "click here for more cool stuff on our BLOG section", blogs_path

      - else
        %p Sorry, something seems to be wrong with our connection to tumblr - blog posts could not be loaded.
