- set_meta_tags title: "Independent Comic Books, Fashion and Lifestyle", description: "Hey we are AIK and LEE, we draw comic books and design clothes. Browse through our works and our blog, buy something if you like it!"

.container
  .row
    .col-xs-12
      %h1.page-heading.index
    .col-xs-12.col-sm-6
      %p
        Hey #{link_to "we are AIK and LEE", about_path} from l'oca pigra, we draw comic books.
    .col-xs-12.col-sm-6
      %h2= link_to "LATEST BLOG POST", blogs_path
      - @posts.each do |post|
        .post
          - if post.photos
            - post.photos.each do |photo|
              = link_to (image_tag photo.alt_sizes.first.url, class: "img-responsive"), post.post_url
            = post.caption.html_safe
          - if post.body
            = post.body.html_safe
          %ul.list-inline
            - post.tags.each do |tag|
              %li.text-muted
                %a{:href => "https://locapigra.tumblr.com/tagged/#{tag}"}
                  \##{tag}
