- set_meta_tags title: "Independent Comic Books, Fashion and Lifestyle", description: "Hey we are AIK and LEE, we draw comic books and design clothes. Browse through our works and our blog, buy something if you like it!"

.container
  .row
    .col-xs-12
      .page-heading.index
    .col-xs-12.col-sm-12.col-md-5.index-copy
      %p
        Hey #{link_to "we are AIK and LEE", about_path} from l'oca pigra, we draw #{link_to "comic books", comics_path}. We are trying to indepently print and publish them, if you like what you see you can buy copies on our #{link_to "shop", shop_path}.
      %p
        We will also be designing, producing and selling fashion items on our shop very soon. Make sure to follow us on social media for updates! Here are the links to our #{link_to "tumblr", "http://locapigra.tumblr.com/", target: "_blank"} and #{link_to "facebook", "https://www.facebook.com/locapigra/", target: "_blank"} pages.
    .hidden-xs.hidden-sm.col-md-1
    .col-xs-12.col-sm-6.col-md-6.index-posts
      %h2.marginless-top
        NEWS & UPDATES
      - if @posts != nil
        -@posts.each do |post|
          .post
            - if post.photos
              - post.photos.each do |photo|
                = link_to (image_tag photo.alt_sizes.first.url, class: "img-responsive text-center"), post.post_url, target: "_blank"
              = post.caption.html_safe
            - if post.body
              = post.body.html_safe
            %ul.list-inline
              - post.tags.each do |tag|
                %li.text-muted
                  %a{href: "https://locapigra.tumblr.com/tagged/#{tag}", target: "_blank"}
                    \##{tag}

        %a= link_to "click here for more cool stuff on our BLOG section", blogs_path

      - else
        %p Sorry, something seems to be wrong with our connection to tumblr - blog posts could not be loaded.
