- set_meta_tags title: "Blog - Sketches, photos, news & anouncements and more.", description: "These are posts from our tumblr blog - updates, doodles and random stuff we find amusing!"
-breadcrumb :blogs

.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1.bonkers
          BLOG
          %span{ title: "BLOG"}
        %p
          These are the last couple of posts from
          %a.underline{:href => "https://locapigra.tumblr.com"} our tumblr
.container
  .row.card-row.blog-row
    - if @posts != nil
      .posts
        - @posts.each do |post|
          .post.col-xs-12.col-sm-6.col-md-4
            - if post.photoset_layout
              .photoset.clearfix{ class: "photoset-layout-#{post.photoset_layout}"}
                - @postphotos = post.photos
                - @first_photo = @postphotos.shift
                = link_to (image_tag @first_photo.alt_sizes.first.url, class: "img-responsive img-main"), post.post_url
                - @postphotos.each do |postphoto|
                  = link_to (image_tag postphoto.alt_sizes.first.url, class: "img-responsive img-sub"), post.post_url
            - elsif post.photos
              - @postphotos = post.photos
              - @postphotos.each do |photo|
                = link_to (image_tag photo.alt_sizes.first.url, class: "img-responsive"), post.post_url
            .post-content
              - if post.caption
                = post.caption.html_safe
              - if post.body
                = post.body.html_safe
              %ul.list-inline
                - post.tags.each do |tag|
                  %li.text-muted
                    %a{:href => "https://locapigra.tumblr.com/tagged/#{tag}"}
                      \##{tag}
      = will_paginate @posts, page_links: false, previous_label: "NEWER", next_label: "OLDER"

    - else
      %p Sorry, something ssems to be wrong with our connection to tumblr - blog posts couldn't be loaded
