.col-xs-12.col-sm-6.col-md-4
  .card
    %figure.card-image
      - if comic.cover_image?
        = image_tag comic.cover_image, alt: comic.name, class: "img-responsive"
      - else
        = image_tag 'placeholder.jpg', alt: comic.name, class: "img-responsive"
      %figcaption.card-body
        %h3.card-title= comic.name
        %p
          = comic.description.html_safe
        = link_to "more infos", comic, class: "btn btn-block btn-success"
        - if user_signed_in?
          - if current_user.admin?
            %ul.list-inline
              %li= link_to "edit", edit_comic_path(comic)
              %li= link_to "delete", comic, method: :delete, data: {confirm: "Really delete comic #{comic.name}"}
