<div class="col-xs-12 col-sm-6 col-md-4 comic-item">
  <div class="media">
    <div class="media-left media-middle">
      <%= link_to image_tag( comic.cover_image, alt: comic.name), comic %>
    </div>
    <div class="media-body">
      <%= link_to(comic) do %>
        <h4 class="media-heading"><%= comic.name %></h4>
      <% end %>
      <ul class="list-unstyled">
        <li><small>Pages: <%= comic.pages %></small></li>
        <li><small>Cover: <%= comic.cover %></small></li>
        <li><small>Color: <%= comic.color %></small></li>
        <li><small>Size: <%= comic.dimensions %></small></li>
      </ul>
      <% if current_user %>
        <ul class="list-inline">
          <li><%= link_to "edit", edit_comic_path(comic) %></li>
          <li><%= link_to "delete", comic, method: :delete, data: {confirm: "Really delete comic #{comic.name}"} %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
