<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card text-center">
    <div class="card-image">
      <% if comic.cover_image? %>
        <%= link_to image_tag( comic.cover_image, alt: comic.name, class: "img-responsive"), comic, class: "block-link" %>
      <% else %>
        <%= link_to image_tag( 'placeholder.jpg', alt: comic.name, class: "img-responsive"), comic, class: "block-link" %>
      <% end %>
    </div>
    <div class="card-body">
      <%= link_to(comic) do %>
        <h3 class="card-title"><%= comic.name %></h3>
        <p>
          <%= comic.description.html_safe %>
        </p>
      <% end %>
      <% if current_user %>
        <ul class="list-inline">
          <li><%= link_to "edit", edit_comic_path(comic) %></li>
          <li><%= link_to "delete", comic, method: :delete, data: {confirm: "Really delete comic #{comic.name}"} %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
