- set_meta_tags title: "Our Comic Books", description: "Check out our comics. This started out as a side project but we would like to do it full time soon!."
- breadcrumb :comics

.container
  .row
    .col-md-3.col-sm-12.col-xs-12
      .products-sidebar
        %h1.bonkers
          COMICS
          %span{ title: "COMICS" }
        %p
          Check out our awesome comics! Claws of Fury has been released in a limited edition, grab it in our shop while there are copies left. You can also get it as a downloadable eBook (in many handy formats).
        %hr/
        %p
          The other comics are still being finished. Stay tuned via Facebook / Instagram or right here on the site for updates!

        = link_to "Check out our Shop!", shop_path, class: "btn btn-danger btn-lg"

    .col-md-9.col-sm-12.col-xs-12
      .row
        .col-xs-12
          - if @featured
            .featured-product
              .featured-label.label.label-danger
                FEATURED
              .row
                .col-xs-12.col-sm-4
                  = link_to @featured do
                    = image_tag @featured.cover_image, alt: @featured.name, class: "img-responsive"
                .col-xs-12.col-sm-8
                  .row
                    .col-xs-12
                      %h2= @featured.name
                    .col-xs-12.col-sm-7
                      %p= @featured.description.html_safe
                    .col-xs-12.col-sm-5
                      %ul.list-unstyled.comic-attributes
                        %li
                          %small
                            Pages: #{@featured.pages}
                        %li
                          %small
                            Cover: #{@featured.cover}
                        %li
                          %small
                            Color: #{@featured.color}
                        %li
                          %small
                            Size: #{@featured.dimensions}

                    .col-xs-12.col-sm-7.text-center
                      = link_to "More details", @featured, class: "btn btn-success btn-lg"
                    .col-xs-12.col-sm-5
                      - if @featured.is_virtual
                        %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
                          %input{type: "hidden", name: "rm", value: "2"}
                          %input{type: "hidden", name: "custom", value: "#{@token.token}"}
                          %input{type: "hidden", name: "hosted_button_id", value: "#{@featured.pp_button}"}
                          %input{type: "hidden", name: "cmd", value: "_s-xclick"}
                          %button{type: "submit", class: "btn btn-warning btn-block btn-lg", name: "submit"}
                            %i.icon-paypal
                            Buy now as eBook
                          %img{alt: "", border: "0", src: "https://www.paypal.com/de_DE/i/scr/pixel.gif", width: "1", height: "1"}
      - if @featured
        .divide
      .row
        = will_paginate
        = render @comics
        = will_paginate
    - if user_signed_in?
      - if current_user.admin?
        .col-xs-12
          %hr/
          = link_to "Add comic", new_comic_path, class: "btn btn-success btn-lg"
