- set_meta_tags title: "Our Comic Books", description: "Check out our comics. This started out as a side project but we would like to do it full time soon!."
- breadcrumb :comics

.container
  .row

    .col-md-12.col-sm-12.col-xs-12

      .row
        %h1
          COMICS
          %span{ title: "COMICS" }
          %span.pull-right.btn.btn-danger.btn-lg#contact-commission{'data-toggle': 'modal', 'data-target': '#subscriber-modal'}
            Subscribe for updates!
        .spacer

        = render partial: "shared/subscribe"

        = render partial: "webcomic", collection: @webcomics

        = render @released, comic: @released

        = render @unreleased, comic: @unreleased

        .col-xs-12
          .row
            .col-md-8.col-sm-10.col-xs-12
              %p
                Check out our awesome comics! Claws of Fury has been released in a limited edition, grab it in our shop while there are copies left. You can also get it as a downloadable eBook (in many handy formats).
              %p
                The other comics are still being finished. Stay tuned via Facebook / Instagram or right here on the site for updates!
              = link_to "Check out our Shop!", shop_path, class: "btn btn-danger btn-lg"

    - if user_signed_in?
      - if current_user.admin?
        .col-xs-12
          %hr/
          = link_to "Add comic", new_comic_path, class: "btn btn-success btn-lg"
