- set_meta_tags title: @comic.name.upcase, description: @comic.description
- breadcrumb :comic, @comic
.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1.title= @comic.name.upcase
.container
  .row.card-row
    .col-xs-12.col-sm-6.col-sm-push-6.col-md-4.col-md-push-5
      = image_tag @comic.cover_image, alt: @comic.name, class: "img-responsive magnific-image comic-main-img", data: { "mfp-src" => "#{@comic.cover_image}" }
    .hidden-xs.hidden-sm.col-md-1
    .col-xs-12.col-sm-6.col-sm-pull-6.col-md-4.col-md-pull-5
      .mini-card
        %p
          = @comic.description.html_safe
      .thumbnails.row
        - @comic.images.each do |image|
          .col-xs-6.col-sm-4.comic-thumb-box
            %img.comic-thumb.magnific-image{"data-mfp-src" => "#{image.path}", :src => "#{image.path}"}/
    .col-xs-12.col-sm-6.col-md-3
      %ul.list-unstyled.comic-attributes
        %li
          %small
            Pages: #{@comic.pages}
        %li
          %small
            Cover: #{@comic.cover}
        %li
          %small
            Color: #{@comic.color}
        %li
          %small
            Size: #{@comic.dimensions}

      = link_to shop_path, {class: "btn btn-danger btn-lg btn-block"} do
        You can find me in the shop!

  - if user_signed_in?
    - if current_user.admin?
      .row
        .col-xs-12
          %ul.list-inline
            %li= link_to "edit", edit_comic_path(@comic)
            %li= link_to "delete", @comic, method: :delete, data: {confirm: "Really delete comic #{@comic.name}"}
