- set_meta_tags title: @comic.name.upcase, description: @comic.description
- breadcrumb :comic, @comic
.container-fluid
  .row
    .category-heading.comic-heading
      .container
        - if not @comic.title_image?
          %h1= @comic.name.upcase
        - else
          %h4.small-title= @comic.name.upcase
.container
  .row.card-row
    .col-xs-12.col-sm-6.col-sm-push-6.col-md-4.col-md-push-5
      = image_tag @comic.cover_image.url, alt: @comic.name, class: "img-responsive magnific-image comic-main-img", data: { "mfp-src" => "#{@comic.cover_image.url}" }
    .hidden-xs.hidden-sm.col-md-1
    .col-xs-12.col-sm-6.col-sm-pull-6.col-md-4.col-md-pull-5
      - if @comic.title_image?
        = image_tag @comic.title_image.url, class: "main-title-image"
      .mini-card
        %p
          = @comic.description.html_safe
      .thumbnails.magnific-gallery.row.magnific-gallery
        - @comic.images.each do |image|
          .col-xs-6.col-sm-4.comic-thumb-box
            %img.comic-thumb{"data-mfp-src" => "#{image.path}.url", :src => "#{image.path.url}"}/
    .col-xs-12.col-sm-6.col-md-3
      %ul.list-unstyled.comic-attributes
        %li
          %small
            Pages: #{@comic.pages}
        %li
          %small
            Cover: #{@comic.cover}
        %li
          %small
            Color: #{@comic.color}
        %li
          %small
            Size: #{@comic.dimensions}

      - if @comic.is_virtual
        %p.lead
          This comic is available as a downloadable E-Book! Press the Paypal button below to purchase a copy!
        %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
          %input{type: "hidden", name: "rm", value: "2"}
          %input{type: "hidden", name: "custom", value: "#{@token.token}"}
          %input{type: "hidden", name: "hosted_button_id", value: "#{@comic.pp_button}"}
          %input{type: "hidden", name: "cmd", value: "_s-xclick"}
          %button{type: "submit", class: "btn btn-warning btn-block", name: "submit"}
            %i.icon-paypal
            Buy eBook with Paypal
          %img{alt: "", border: "0", src: "https://www.paypal.com/de_DE/i/scr/pixel.gif", width: "1", height: "1"}

        %p.lead
          or get the printed version in our store by clicking the big red button!
      - if @comic.product_id
        = link_to @comic.product, {class: "btn btn-danger btn-lg btn-block"} do
          Buy me!

  - if user_signed_in?
    - if current_user.admin?
      .row
        .col-xs-12
          %ul.list-inline
            %li= link_to "edit", edit_comic_path(@comic)
            %li= link_to "delete", @comic, method: :delete, data: {confirm: "Really delete comic #{@comic.name}"}
