.form-group
  = f.text_field :recipient, { placeholder: "Full Name", class: "form-control", required: true }
- if user_signed_in?
  = f. hidden_field :email, { value: @user.email, required: true }
- else
  .form-group
    = f. text_field :email, { placeholder: "E-Mail", class: "form-control", required: true }
.form-group
  = f. text_field :street, { placeholder: "Street & House Number", class: "form-control", required: true }
.form-group
  = f.text_field :city, { placeholder: "City", class: "form-control", required: true }
.form-group
  = f.text_field :zip, { placeholder: "ZIP", class: "form-control", required: true }
.form-group
  = f.text_field :state, { placeholder: "State / Region", class: "form-control", required: true }
.form-group
  = country_select("order[address_attributes]", "country", { selected: "DE", only: ["DE", "AT", "CH", "DK", "NL", "FR", "GB", "US"]}, { class: "form-control" })
