=form_for @subscriber,url: {action: "create", controller: "subscribers"}, html: {class: "subscription-form loca-form"} do |f|
  - if @subscriber.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscriber.errors.count, "error")} prohibited this subscription from being saved:"
      %ul
        - @subscriber.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, "Name", { class: "loca-label" }
    = f.text_field :name, { placeholder: "Name", class: "form-control" }
  .form-group
    = f.label :email, "E-Mail Address", { class: "loca-label" }
    = f.text_field :email, { placeholder: "E-Mail Address", class: "form-control" }

  .form-group
    = f.button(type: "submit", class: "btn btn-primary btn-block") do
      %i.icon-angle-right
      Send