%tr
  %td
    - if current_user.admin?
      = order.id.to_s
    = order.order_number.to_s
  - if order.address
    %td= order.address.recipient
  - else
    %td
      [none]
  %td.text-right= number_to_currency order.total, locale: :de
  %td.text-right
    = link_to order_path(order.id), class: "btn btn-default btn-xs" do
      %i.fa.fa-eye.fa-fw
    - if current_user.admin?
      = link_to edit_order_path(order.id), class: "btn btn-default btn-xs" do
        %i.fa.fa-edit.fa-fw
      = link_to order, method: :delete, class: "btn btn-default btn-xs", data: { confirm: "Really delete order #{order.id}" } do
        %i.fa.fa-ban.fa-fw
