.container
  .row
    .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.text-center.backgrounded
      %h1 Thank you for your order!
      %p Your purchase of:
      .row
        .col-xs-12.col-sm-12.col-md-offset-3.col-md-6
          %table.table
            - @order.order_items.each do |item|
              %tr
                %td.text-left
                  = item.quantity
                  x
                  = item.product.name
                  - if item.edition_number
                    %br
                    Ltd. Ed. #:
                    = item.edition_number
                %td.text-right= number_to_currency item.quantity * item.unit_price, locale: :de

          %table.table
            %tr
              %td.text-left
                Shipping price
              %td.text-right= number_to_currency @order.shipping, locale: :de

          - if @order.payment_fee
            - if @order.payment_fee > 0
              %table.table
                %tr
                  %td.text-left
                    Payment fee
                  %td.text-right= number_to_currency @order.payment_fee / 100.0, locale: :de

          %table.table
            %tr
              %td.text-left
                %strong TOTAL
              %td.text-right
                %strong.blood= number_to_currency @order.total, locale: :de

      - if @order.payment_fee
        - if @order.payment_fee == 0
          %p Will be shipped as soon as your payment is confirmed.
          %p If you chose to pay by bankwire, please wire the total amount to:
          %p= @bank_owner
          %p= @bank_iban
          %p= @bank_bic

      %P A confirmation e-mail has also been sent to you.

      - if @token
        .col-xs-12
          %p.lead
            Thank you for your purchase. You can find the download links below. Keep in mind that these links will only be active for 24 hours after your purchase!
        .row
          .col-xs-4
            =link_to "Download PDF", "/files/clawspdf?token=#{@token}", target: :_blank, class: "btn btn-warning btn-lg btn-block"
          .col-xs-4
            =link_to "Download ePub", "/files/clawsepub?token=#{@token}", target: :_blank, class: "btn btn-warning btn-lg btn-block"
          .col-xs-4
            =link_to "Download CBR", "/files/clawscbr?token=#{@token}", target: :_blank, class: "btn btn-warning btn-lg btn-block"
      - else
        %h3 Download Link expired
        %p.lead
          Sorry this page can only be accessed with a valid link! If you feel this is a mistake please contact us ASAP at info@locapigra.biz

:javascript
  document.addEventListener("turbolinks:load", function() {
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'transactionId': "#{@order.order_number}",
      'transactionAffiliation': 'locapigra',
      'transactionTotal': #{@order.total},
      'transactionTax': #{@order.tax},
      'transactionShipping': #{@order.shipping},
      'transactionProducts': [
        #{@order_items_json}
      ]
    });
  });
