.container
  .row
    .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8.text-center
      %h1 Thank you for your order!
      %p Your purchase of:
      .row
        .col-xs-12.col-sm-12.col-md-offset-3.col-md-6
          %table.table
            - @order.order_items.each do |item|
              %tr
                %td.text-left
                  = item.quantity
                  x
                  = item.product.name
                  - if item.edition_number
                    %br
                    Ltd. Ed. #:
                    = item.edition_number
                %td.text-right= number_to_currency item.quantity * item.unit_price, locale: :de

          %table.table
            %tr
              %td.text-left
                Shipping price
              %td.text-right= number_to_currency @order.shipping, locale: :de

          - if @order.payment_fee > 0
            %table.table
              %tr
                %td.text-left
                  Shipping price
                %td.text-right= number_to_currency @order.payment_fee / 100.0, locale: :de

          %table.table
            %tr
              %td.text-left
                %strong TOTAL
              %td.text-right
                %strong.blood= number_to_currency @order.total, locale: :de

      - if @order.payment_fee == 0
        %p Will be shipped as soon as your payment is confirmed.
        %p If you chose to pay by bankwire, please wire the total amount to:
        %p= @bank_owner
        %p= @bank_iban
        %p= @bank_bic

      %P A confirmation e-mail has also been sent to you.

:javascript
  document.addEventListener("turbolinks:load", function() {
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'transactionId': "#{@order.order_number}",
      'transactionAffiliation': 'locapigra',
      'transactionTotal': #{@order.total},
      'transactionTax': #{@order.tax},
      'transactionShipping': #{@order.shipping},
      'transactionProducts': [
        #{@order_items_json}
      ]
    });
  });
