.container
  .row
    .col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8
      = form_for @order, url: {action: "update"}, html: {class: "loca-form"} do |f|
        = f.fields_for :address do |address|
          = render 'shared/address_fields', f: address
        .form-group
          = f.select(:order_status_id, [['Placed', 2], ['Paid', 3], ['Shipped', 4], ['Cancelled', 5]], {}, { class: "form-control" })
        = f.button(type: "submit", class: "btn btn-primary") do
          %i.fa.fa-check
          UPDATE
