.container
  .row
    .col-xs-12
      %h4
        Orders [#{@orders.count}]

      %table.table.table-condensend
        %thead
          %tr
            %td
              = sort_link "id"
            %td
              Order Reference
            %td
              = sort_link "placed_on"
            %td
              Customer
            %td
              User
            %td
              = sort_link "order_status_id"
            %td
              = sort_link "payment_choice_id"
            %td
              = sort_link "total"
            %td
              action
        %tbody
          = render partial: "order", collection: @orders

      %h4
        Carts [#{@carts.count}]

      %table.table.table-condensend
        %thead
          %tr
            %td
              = sort_link "id"
            %td
              Order Reference
            %td
              = sort_link "placed_on"
            %td
              Customer
            %td
              User
            %td
              = sort_link "order_status_id"
            %td
              = sort_link "payment_choice_id"
            %td
              = sort_link "total"
            %td
              action
        %tbody
          = render partial: "order", collection: @carts
