= form_for(@webcomic, html: { multipart: true }) do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :title_image
    = f.file_field :title_image, accept: 'image/svg+xml'
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"

  .form-group
    %label Pages
    = file_field_tag "webcomic_pages[]", type: :file, multiple: true, accept: 'image/jpeg,image/gif,image/png'
    %ul.images.list-inline#pages{data: {url: sort_webcomic_pages_path}}
      - @webcomic_pages.each do |page|
        %li{id: dom_id(page)}
          = link_to image_tag( "#{page.path}", class: "img-responsive", width: "150"), edit_webcomic_page_path(page)
          = page.page_number

  = f.submit "Save Webcomic", class: "btn btn-primary"
