- set_meta_tags title: @webcomic.title.upcase, description: @webcomic.description
- breadcrumb :webcomic, @webcomic
.container-fluid
  .row
    .comic-heading
      .container
        .row
          .col-xs-12.col-sm-offset-2.col-sm-5.col-md-offset-3.col-md-3
            .pull-right
              = image_tag @webcomic.title_image, class: "title-image", alt: @webcomic.title
          .col-xs-12.col-sm-5.col-md-3
            .webcomic-subtitle.pull-left
              %p= @webcomic.description.html_safe
          .col-xs-12.col-sm-offset-2.col-sm-5.col-md-offset-3.col-md-3
            %h3.pull-right
              Chapter
          .col-xs-12.col-sm-5.col-md-3
            %ul#chapters
              - @chapters.each do |chapter|
                %li= chapter.title
          -#%h1= @webcomic.title
.container
  .row
    .col-xs-12.text-center.webcomic-container
      -#= will_paginate @webcomic_pages, page_links: true, previous_label: "NEWER", next_label: "OLDER"
      #webcomic-page
        = render @webcomic_pages
      #webcomic-pagination.webcomic-pagination
        = js_will_paginate @webcomic_pages, remote: true, page_links: true, previous_label: '<i class="icon-left-open"></i>', next_label: '<i class="icon-right-open"></i>'
        .col-xs-12
          = page_entries_info @webcomic_pages
        -# @webcomic.webcomic_pages.each do |page|
          .col-xs-4
            %img.img-responsive{ src: "#{page.path}"}/

  - if user_signed_in?
    - if current_user.admin?
      .row
        .col-xs-12
          %ul.list-inline
            %li= link_to "edit", edit_webcomic_path(@webcomic)
            %li= link_to "delete", @webcomic, method: :delete, data: {confirm: "Really delete comic #{@webcomic.title}"}
