= f.text_field :recipient
= f. text_field :street
= f.text_field :city
= f.text_field :zip
= f.text_field :state
= country_select("order[address_attributes]", "country", { include_blank: 'Select a country', only: ["DE", "AT", "CH", "DK", "NL", "FR", "GB", "US"] })
