= form_for @order, url: {action: "checkout"} do |f|

  .form-group
    = f.label "Pay with:"
    = f.select :payment_choice_id, PaymentChoice.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Choose a payment method'}, class: "form-control"

  %table.table.table-condensed
    %tr
      %td
        Subtotal
      %td.text-right
        = number_to_currency @order.subtotal, locale: :de
    %tr
      %td
        Shipping costs
      %td.text-right
        = number_to_currency @order.shipping, locale: :de
    %tr.danger
      %td
        %span.strong Total
      %td.text-right
        %span.strong
          = number_to_currency @order.total, locale: :de

  %div
    %span.text-muted.small
      #{number_to_currency @order.tax, locale: :de} VAT is included in the price above

  .checkbox
    %label
      = f.check_box :agreement, {required: true}
      I agree to the #{link_to "terms & conditions", "#tocModal", {  "data-toggle": "modal" }}
  = f.button(type: "submit", class: "btn btn-primary pull-right") do
    %i.icon-ok
    COMPLETE ORDER

= form_for @order, url: {action: "checkout"}, id: "payment-form" do |g|
  .form-group
    = g.label "Pay with:"
    = g.select :payment_choice_id, PaymentChoice.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Choose a payment method'}, class: "form-control"
  %section
    .bt-drop-in-wrapper
      #bt-dropin

  .checkbox
    %label
      = g.check_box :agreement, {required: true}
      I agree to the #{link_to "terms & conditions", "#tocModal", {  "data-toggle": "modal" }}
  = g.button(type: "submit") do
    %span Test Transaction

.modal.fade#tocModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss": "modal"}
          %i.icon-cancel-1
        %h4.modal-title
          Terms and conditions
      .modal-body
        .row
          = render "shared/toc"

:javascript
  console.log(braintree)
  var client_token = "#{@client_token}";
  braintree.setup(client_token, "dropin", {
    container: "bt-dropin"
  });
