- if !@order_item.nil? && @order_item.errors.any?
  .alert.alert-danger
    %ul.list-unstyled
      - @order_item.errors.full_messages.ech do |msg|
        %li= msg
- if @order_items.size == 0
  %p.text-center
    There are no items in your cart at the moment. #{link_to "Feel free to add some though :)", shop_path}
- else
  .col-xs-12.col-sm-7
    .static-card
      %table.table
        %thead
          %tr
            %th.col-md-3 Product
            %th.col-md-2 Unit Price
            %th.col-md-3.text-center Quantity
            %th.col-md-2.text-right Total
            %th.col-md-1.text-right
        %tfoot
          %tr
            %td.text-right{:colspan => "3"} Total of your order (tax inclusive)
            %td.total-cell.text-right{:colspan => "2"}= @total_price
        %tbody
          - @order_items.each do |order_item|
            = render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true
  .col-xs-12.col-sm-5
    .static-card
      = form_for current_order, url: {action: "update"} do |f|
        =# f.text_field :recipient, class: "form-control"
        = f.button(type: "submit", class: "btn btn-primary") do
          %i.fa.fa-check
          CHECKOUT
