.container
  %h2 Forgot your password?
  .row
    .col-xs-12.col-sm-8.col-md-5

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        .actions
          = f.submit "Send me reset password instructions", class: "btn btn-info"
      = render "users/shared/links"
