%tr
  %td= destination.country_code
  %td= destination.country_name
  %td.text-right= destination.shipping_price
  %td.text-right
    = link_to edit_destination_path(destination.id), class: "btn btn-default btn-xs" do
      %i.icon-edit
    = link_to destination, method: :delete, class: "btn btn-default btn-xs", data: { confirm: "Really delete #{destination.country_name}" } do
      %i.icon-block-1
