= form_for(@product, html: { multipart: true }) do |f|
  = render "shared/error_messages", object: f.object
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  .form-group
    = f.label :meta_title
    = f.text_field :meta_title, class: "form-control"
  .form-group
    = f.label :meta_description
    = f.text_field :meta_description, class: "form-control"
  .form-group
    = f.label "Price (in cents and €)"
    = f.number_field :price_cents, step: 1, class: "form-control"
  .form-group
    = f.label :taxrate
    = f.number_field :taxrate, class: "form-control"
  .form-group
    = f.label :weight
    = f.number_field :weight, step: 0.01, class: "form-control"
  .form-group
    = f.label :quantity
    = f.number_field :quantity, class: "form-control"
  .form-group
    = f.label :package
    = f.text_field :package, class: "form-control"
  .form-group
    = f.label :cover_image
    = f.file_field :cover_image, accept: 'image/jpeg,image/gif,image/png'
  .form-group
    = f.label :release_date
    = f.text_field :release_date, class: "form-control", "data-provide" => 'datepicker'
  .form-group
    = f.label :language
    = f.text_field :language, class: "form-control"
  .form-group
    = f.label :pp_button
    = f.text_field :pp_button, class: "form-control"
  .form-group
    = f.label "Position"
    = f.number_field :position, step: 1, class: "form-control"
  .checkbox
    = f.label :limited do
      = f.check_box :limited
      Limited Edition?
  .checkbox
    = f.label :active do
      = f.check_box :active
      Active?
  .checkbox
    = f.label :featured
    = f.check_box :featured
  .checkbox
    = f.label :is_virtual do
      = f.check_box :is_virtual
      Virtual (Download / service etc.)?
  = f.submit "Create product", class: "btn btn-primary"
