.col-xs-12.col-sm-6
  .product-card.clearfix
    %a{href: "#{product_url product}"}
      .card-image.product-card-item
        = image_tag( product.cover_image.url, alt: product.name, class: 'img-responsive')
    .card-body.product-card-item
      .card-copy
        %a{href: "#{product_url product}"}
          %h3.card-title
            = product.name
            %span.price.pull-right
              = humanized_money product.price
              %small= currency_symbol

  - if user_signed_in?
    - if current_user.admin?
      %ul.list-inline
        %li= link_to "edit", edit_product_path(product)
        %li= link_to "delete", product, method: :delete, data: {confirm: "Really delete product #{product.name}"}
