<div class="col-xs-12 col-sm-6 col-md-4 product-item">
  <%= link_to image_tag( product.cover_image, alt: product.name), product %>
  <h1><%= product.name %></h1>
  <p>
    <%= product.description %>
  </p>
  <ul class="list-unstyled">
    <li>Language: <%= product.language %></li>
  </ul>
  <hr>
  <%= form_for order_item, remote: true do |f| %>
    <h4 class="text-right">Unit Price: <span class="text-success"><%= number_to_currency product.price %></span></h4>
    <% if current_user %>
      <div class="input-group">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit "Add to Cart", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if current_user %>
    <ul class="list-inline">
      <li><%= link_to "edit", edit_product_path(product) %></li>
      <li><%= link_to "delete", product, method: :delete, data: {confirm: "Really delete product #{product.name}"} %></li>
    </ul>
  <% end %>
</div>
