<div class="col-xs-12 col-sm-6 col-md-4 product-item">
  <%= link_to image_tag( product.cover_image, alt: product.name), product %>
  <h1><%= product.name %></h1>
  <p>
    <%= product.description %>
  </p>
  <ul class="list-unstyled">
    <li>Language: <%= product.language %></li>
  </ul>
  <% if current_user %>
    <ul class="list-inline">
      <li><%= link_to "edit", edit_product_path(product) %></li>
      <li><%= link_to "delete", product, method: :delete, data: {confirm: "Really delete product #{product.name}"} %></li>
    </ul>
  <% end %>
</div>
