.col-xs-12.col-sm-6.col-md-6
  .product-card.clearfix
    .card-image.product-card-item
      = image_tag( product.cover_image, alt: product.name, class: 'img-responsive')
    .card-body.product-card-item
      .card-copy
        %h3.card-title= product.name
        %p.hidden-xs
          = product.description.html_safe
      %div.product-card-form
        %div.price-box.clearfix
          Price:
          %span.price.pull-right= number_to_currency product.price, { locale: :de, strip_insignificant_zeros: true }
        = form_for order_item, remote: true do |f|
          .input-group
            = f.number_field :quantity, value: 1, class: "form-control input-lg", min: 1
            .input-group-btn
              = f.hidden_field :product_id, value: product.id
              = f.button(class: "btn btn-danger btn-lg add-to-cart-btn cart-btn-#{product.id}" ) do
                %i.icon-basket-alt
                %i.icon-check-1.success-icon

      - if user_signed_in?
        - if current_user.admin?
          %ul.list-inline
            %li= link_to "edit", edit_product_path(product)
            %li= link_to "delete", product, method: :delete, data: {confirm: "Really delete product #{product.name}"}
