- set_meta_tags title: @product.name.upcase, description: @product.description

- breadcrumb :product, @product
.container-fluid
  .row
    .category-heading.comic-heading
      .container
        %h1.title= @product.name.upcase

.container
  .row.card-row
    .col-xs-12.col-sm-6.col-sm-push-6.col-md-4.col-md-push-5
      = image_tag @product.cover_image, alt: @product.name, class: "img-responsive magnific-image comic-main-img", data: { "mfp-src" => "#{@product.cover_image}" }
    .hidden-xs.hidden-sm.col-md-1
    .col-xs-12.col-sm-6.col-sm-pull-6.col-md-4.col-md-pull-5
      .mini-card
        %p
          - if @product.comics.first
            = @product.comics.first.description.html_safe
          - else
            = @product.description
      - if @product.comics.first
        .thumbnails.row
          - @product.comics.first.images.each do |image|
            .col-xs-6.col-sm-4.comic-thumb-box
              %img.comic-thumb.magnific-image{"data-mfp-src" => "#{image.path}", :src => "#{image.path}"}/
    .col-xs-12.col-sm-6.col-md-3
      - if @product.comics.first
        %ul.list-unstyled.comic-attributes
          %li
            %small
              Pages: #{@product.comics.first.pages}
          %li
            %small
              Cover: #{@product.comics.first.cover}
          %li
            %small
              Color: #{@product.comics.first.color}
          %li
            %small
              Size: #{@product.comics.first.dimensions}
      - else
        %ul.list-unstyled.comic-attributes
          %li
            %small
              Language: #{@product.language}
          %li
            %small
              #{@product.package}

      %div.price-box.clearfix
        Price:
        %span.price.pull-right= number_to_currency @product.price, { locale: :de, strip_insignificant_zeros: true }
      - if @product.is_virtual?
        %p.lead
          This comic is available as a downloadable E-Book! Press the Paypal button below to purchase a copy!
        %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
          %input{type: "hidden", name: "rm", value: "2"}
          %input{type: "hidden", name: "custom", value: "#{@token.token}"}
          %input{type: "hidden", name: "hosted_button_id", value: "#{@product.pp_button}"}
          %input{type: "hidden", name: "cmd", value: "_s-xclick"}
          %button{type: "submit", class: "btn btn-danger btn-lg", name: "submit"}
            %i.icon-paypal
            Buy Now with Paypal
          %img{alt: "", border: "0", src: "https://www.paypal.com/de_DE/i/scr/pixel.gif", width: "1", height: "1"}

      - else
        = form_for @order_item, remote: true do |f|
          - if @product.limited?
            .form-group
              = f.label :edition_number do
                .tooltip-item{title: "This is a limited edition item. If you want a specific number, pick one in the field below. Some numbers might not be available anymore. Also you will have to add comics one at a time, don't worry though it's just one click!"}
                  Limited edition #
                  %i.icon-info.highlight-link
              = f.number_field :edition_number, class: "form-control", placeholder: "optional 1-1000"
            .form-group
              = f.hidden_field :product_id, value: @product.id
              = f.hidden_field :quantity, value: 1
              = f.button(class: "btn btn-danger btn-lg btn-block add-to-cart-btn cart-btn-#{@product.id}" ) do
                %i.icon-basket-alt
                %i.icon-check-1.success-icon
          - else
            .form-group
              = f.label :quantity
              .input-group
                = f.number_field :quantity, value: 1, class: "form-control input-lg", min: 1
                .input-group-btn
                  = f.hidden_field :product_id, value: @product.id
                  = f.button(class: "btn btn-danger btn-lg add-to-cart-btn cart-btn-#{@product.id}" ) do
                    %i.icon-basket-alt
                    %i.icon-check-1.success-icon


  - if user_signed_in?
    - if current_user.admin?
      .row
        .col-xs-12
          %ul.list-inline
            %li= link_to "edit", edit_product_path(@product)
            %li= link_to "delete", @product, method: :delete, data: {confirm: "Really delete product #{@product.name}"}
