.container-fluid.admin-nav
  .row
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %i.icon-menu
          = link_to "L'admin", root_path, {class: "navbar-brand"}

        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              = link_to "Orders", orders_path
            %li
              = link_to "Destinations", destinations_path
            %li
              = link_to "Payment choices", payment_choices_path
            %li
              = link_to "Products", productlist_path
            -# %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Dropdown
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Action
                %li
                  %a{href: "#"} Another action
                %li
                  %a{href: "#"} Something else here
                %li
                  %a{href: "#"} Separated link
                %li
                  %a{href: "#"} One more separated link

          %ul.nav.navbar-nav.navbar-right
            %form.navbar-form.navbar-left{role: "search"}
              .form-group
                %input.form-control{placeholder: "Search", type: "text"}/
              %button.btn.btn-default{type: "submit"} Submit
            -# %li
              %a{href: "#"} Link
            -# %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Dropdown
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Action
                %li
                  %a{href: "#"} Another action
                %li
                  %a{href: "#"} Something else here
                %li
                  %a{href: "#"} Separated link
        / /.navbar-collapse
