%footer.container-fluid
  .footer-top
  .container
    .row
      .col-xs-12.col-sm-6.col-md-3
        %small.text-muted copyright l'oca pigra #{Time.current.year}
      .col-xs-12.col-sm-6.col-md-3.text-right

      .col-xs-12.col-sm-12.col-md-6.text-right
        %ul.list-inline
          %li
            %a.blood{:href => "https://www.facebook.com/locapigra/", target: "_blank"}
              %i.icon-facebook
          %li
            %a.blood{:href => "https://www.instagram.com/locapigra_official/", target: "_blank"}
              %i.icon-instagram
          %li
            %a.blood{:href => "https://locapigra.tumblr.com/", target: "_blank"}
              %i.icon-tumblr
          %li= link_to "terms & conditions", terms_path
          %li= link_to "data protection / datenschutz", dataprotection_path
          %li= link_to "imprint", imprint_path
          %li.visible-xs
            - if user_signed_in?
              = link_to edit_user_registration_path do
                %i.icon-user
                &nbsp; Profile
            - else
              = link_to new_user_session_path do
                %i.icon-user
                &nbsp; Login
