%body
  %header.header
    .container-fluid
      %nav.navbar
        .container
          .navbar-header
            %button#navbar-toggle.navbar-toggle.collapsed{:type => "button"}
              %i.fa.fa-bars
          .navbar-collapse
            = link_to "", root_path, id: 'logo', class: 'loca-logo'
            #navbar-main.nav.navbar-nav.navbar-main
              %div= link_to "HOME", root_path
              %div= link_to "COMICS", comics_path
              %div= link_to "SHOP", shop_path
              %div= link_to "BLOG", blogs_path
              %div= link_to "ABOUT", about_path
              .cart-txt= render 'layouts/cart_text'
