%body
  %header.header
    .container-fluid
      %nav.navbar
        .container
          .navbar-collapse
            = link_to "", root_path, id: 'logo', class: 'loca-logo'
            #navbar-main.nav.navbar-nav.navbar-main
              %div
                = link_to root_path do
                  %span.hidden-xs
                    HOME
                  %span.visible-xs
                    %i.icon-loca
                    %br
                    %span.small
                      HOME
              %div
                = link_to comics_path do
                  %span.hidden-xs
                    COMICS
                  %span.visible-xs
                    %i.icon-pencil-alt
                    %br
                    %span.small
                      COMICS
              %div
                = link_to shop_path do
                  %span.hidden-xs
                    SHOP
                  %span.visible-xs
                    %i.icon-basket-alt
                    %br
                    %span.small
                      SHOP
              %div
                = link_to blogs_path do
                  %span.hidden-xs
                    BLOG
                  %span.visible-xs
                    %i.icon-book
                    %br
                    %span.small
                      BLOG
              %div
                = link_to about_path do
                  %span.hidden-xs
                    ABOUT
                  %span.visible-xs
                    %i.icon-beer
                    %br
                    %span.small
                      ABOUT
              .btn-group
                .user-btn{class: "text-muted hidden-xs", "data-toggle": "dropdown"}
                  %i.icon-user
                %ul.dropdown-menu.hidden-xs
                  - if user_signed_in?
                    %li
                      = link_to 'My Orders', my_orders_path, class: "text-danger"
                    %li
                      = link_to 'Profile', edit_user_registration_path
                    %li
                      = link_to 'Log Out', destroy_user_session_path, method: :delete, class: "text-muted"
                  - else
                    %li
                      = link_to('Login', new_user_session_path)
                .user-btn.visible-xs
                  - if user_signed_in?
                    = link_to edit_user_registration_path do
                      %i.icon-user
                      %br
                      %span.small
                        PROFILE
                  - else
                    = link_to new_user_session_path do
                      %i.icon-user
                      %br
                      %span.small
                        LOGIN
              .cart-txt
                = render 'layouts/cart_text'
