<header class="header-index">
  <div class="container-fluid">

    <%= link_to "", root_path, id: 'logo', class: 'loca-logo' %>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" id="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="navbar-collapse">
          <div class="nav navbar-nav navbar-main" id="navbar-main">
            <% if current_user %>
              <div><%= render 'layouts/cart_text' %></div>
            <% end %>
            <div><%= link_to "HOME", root_path %></div>
            <div><%= link_to "COMICS", comics_path %></div>
            <div><%= link_to "SHOP", shop_path %></div>
            <div><%= link_to "BLOG", blogs_path %></div>
            <div><%= link_to "ABOUT", about_path %></div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
