<header class="header">
  <div class="container-fluid">

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="nvabar-collapse" class="navbar-toggle collapsed">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <%= link_to "", root_path, id: 'logo', class: 'loca-logo' %>
          <ul class="nav navbar-nav navbar-main">
            <% if current_user %>
              <li><%= render 'layouts/cart_text' %></li>
            <% end %>
            <li><%= link_to "HOME", root_path %></li>
            <li><%= link_to "COMICS", comics_path %></li>
            <li><%= link_to "SHOP", shop_path %></li>
            <li><%= link_to "BLOG", blogs_path %></li>
            <li><%= link_to "ABOUT", about_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
