%body
  %header.header-index
    .container-fluid
      %canvas.fireworks
      .loca-logo
      %nav.navbar
        .container
          .navbar-header
          .navbar-collapse
            #navbar-main.nav.navbar-nav.navbar-main
              %div
                = link_to root_path do
                  %span.hidden-xs
                    HOME
                  %span.visible-xs
                    %i.icon-loca
                    %br
                    %span.small
                      HOME
              %div
                = link_to comics_path do
                  %span.hidden-xs
                    COMICS
                  %span.visible-xs
                    %i.icon-pencil-alt
                    %br
                    %span.small
                      COMICS
              %div
                = link_to shop_path do
                  %span.hidden-xs
                    SHOP
                  %span.visible-xs
                    %i.icon-basket-alt
                    %br
                    %span.small
                      SHOP
              %div
                = link_to blogs_path do
                  %span.hidden-xs
                    BLOG
                  %span.visible-xs
                    %i.icon-book
                    %br
                    %span.small
                      BLOG
              %div
                = link_to about_path do
                  %span.hidden-xs
                    ABOUT
                  %span.visible-xs
                    %i.icon-user
                    %br
                    %span.small
                      ABOUT
              .cart-txt
                = render 'layouts/cart_text'
