!!!
%html.no-js{:language => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    = display_meta_tags site: "l'oca pigra"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = favicon_link_tag 'favicon.ico'
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700,900&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags
    = render 'layouts/shim'

    :javascript

      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5G4CGG');

  %body{class: ("homepage" if @index_header)}
    %noscript
      %iframe{src: "https://www.googletagmanager.com/ns.html?id=GTM-5G4CGG", height: "0", width: "0", style: "display:none;visibility: hidden;"}
    /[if lt IE 10]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    - if user_signed_in?
      - if current_user.admin?
        = render 'layouts/admin_nav'
    - unless @no_header
      = render 'layouts/header' unless @index_header
      = render 'layouts/header_index' if @index_header

    .container-fluid.breadcrumb-container
      .row
        .container
          = breadcrumbs pretext: "", separator: " <i class='icon-angle-right'></i> ", style: :bootstrap

    = yield
    = render 'layouts/footer'

    .status-alerts.container
      - flash.each do |message_type, message|
        %div#flash{class: "alert alert-dismissible alert-#{message_type}"}
          %button.close{type: "button", data: { dismiss: "alert" }}
            %i.icon-cancel-1
          = message

    = javascript_include_tag 'application', 'data-turbolinks-eval' => false
