<!DOCTYPE html>
<html class="no-js" language="en">
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="locapigra">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker:400" charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <%= render 'layouts/header' unless @index_header %>
  <%= render 'layouts/header_index' if @index_header %>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
